* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FONTS-------------------- */
@font-face {
  src: url(./fonts/PTSerif-Bold.ttf);
  font-family: PT-Heading-Bold;
}
@font-face {
  src: url(./fonts/PTSerif-Regular.ttf);
  font-family: PT-Heading;
}
@font-face {
  src: url(./fonts/PTSans-Regular.ttf);
  font-family: PT-Text;
}
/* FONTS-------------------- */

#website {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

/* HEADER -------------------*/
header {
  height: 75vh;
  background-image: url(./header.jpg);
  background-size: cover;
  background-position: top center;
  padding-top: 20vh;
}
#header-text {
  margin: 0% auto;
  width: fit-content;
  text-align: center;
  color: white;
  font-size: 2.4rem;
  letter-spacing: 3px;
}

h1 {
  font-family: PT-Heading-Bold;
}

#header-text h3 {
  font-family: PT-Text;
  font-size: 2.2rem;
}
/* HEADER --------------- */

/* P UNDER HEADER ----------------*/

#sub-header-text {
  width: 92%;
  text-align: center;
  margin: 40px auto;
  font-family: PT-Text;
  font-size: 1.2rem;
}

/* GRID --------------- */

#step-1-photo {
  background-image: url(./step-1.jpg);
  background-size: cover;
  background-position: bottom center;
}
#step-2-photo {
  background-image: url(./step-2.jpg);
  background-size: cover;
  background-position: 70%;
}
#step-3-photo {
  background-image: url(./step-3-4.jpg);
  background-size: cover;
  background-position: 80%;
  grid-column: 3/4;
  grid-row: 3/5;
}

main {
  width: 90%;
  margin: 100px auto 200px auto;
}
#grid {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 20% 30% 1fr;
  grid-template-rows: 25% 25% 30% 1fr;
  row-gap: 30px;
  column-gap: 30px;
}

.grid-number {
  background-color: rgb(104, 255, 240);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: PT-Heading;
  font-size: 10rem;
}

.grid-paragraph {
  font-size: 1.4rem;
  font-family: PT-Text;
  padding: 10px 20px;
}

.grid-paragraph h3 {
  font-family: PT-Heading;
  margin-bottom: 30px;
}

/* GRID-------------- */

/* FOOTER --------------- */

footer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 95%;
  margin: 20px auto;
}

article {
  width: 50%;
  padding: 20px 50px 25vh 50px;
  position: relative;
}

footer h2 {
  font-family: PT-Heading-Bold;
  font-size: 4rem;
  margin-bottom: 20px;
}
footer p {
  font-family: PT-Text;
  font-size: 1.4rem;
}

#footer-img {
  background-image: url(./footer.jpg);
  background-size: cover;
  width: 50%;
}

#zemeckis {
  font-size: 10vh;
  font-family: PT-Text;
  color: rgb(255, 255, 255);
  letter-spacing: 3px;

  position: absolute;
  bottom: 3vh;
  right: -262px;
}

span {
  color: rgb(83, 255, 241);
}

/* FOOTER --------------- */
